<!DOCTYPE html>
<html lang="es">
  <head>
        <!-- Google tag (gtag.js) -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>anonimo</title>
  </head>
  <body>
    <!-- SECCION INICIO -->

  <!-- SECCION CONTACTO-->
  <section class="contacto" id="contacto">
      <div class="contenido-seccion">
        <h2 class="titulo-seccion">Ponte en contacto ahora mismo!</h2>
        <h3>Ingresa tus datos </h3>
        <form action="/form-contacto" autocomplete="off" method="post" id="form">
            <section class="formulario">

                <div class="camp">
                    <label for="name" class="titulito">Ingrese el nombre completo</label>
                    <input type="text" name="name" placeholder="Ingresa tu nombre" class="campo" id="name" required/>
                </div>

                <div class="camp">
                    <label for="email" class="titulito">Ingrese su correo</label>
                    <input type="email" name="email" placeholder="Ingresa tu correo" class="campo" required/>
                </div>
                <div class="camp">
                    <label for="comen" class="titulito">Comentarios</label>
                <textarea name="mensaje" id="mensaje" placeholder="Ingresa algun comentario que tengas" class="campo" required></textarea>
                </div>
                <div class="camp">
                <!--    <div class="g-recaptcha" data-sitekey="6Le3zugpAAAAAIo79WhdE_PRq4REJOTXhkLm5444"></div> -->
                </div>
                <input type="submit" name="enviar" value="Enviar Datos" class="btn-enviar">
            </section>
        </form>
      </div>
  </section>
  <!-- <script src="/javascripts/captcha.js"></script> -->
  <script src="../app.js"></script>
  </body>
</html>
